@import "src/assets/scss/theme";

.checkbox {
  $self: &;

  &__input {
    display: none;

    &--square {
      + #{$self}__label {
        &:before {
          border-radius: 3px;
        }
      }
    }

    &--round {
      + #{$self}__label {
        &:before {
          border-radius: 50%;
        }
      }
    }

    &:checked {
      + #{$self}__label {
        &:before {
          border-color: $secondary-color;
          background: $secondary-color url('#{$IMAGE_PATH}/icn_check.svg') no-repeat center;
        }
      }
    }
  }

  #{$self}__label {
    padding-left: 2em;
    cursor: pointer;

    &--medium {
      font-weight: $medium;
    }

    &:before {
      top: 0;
      bottom: 0;
      content: '';
      margin: auto;
      left: 0;
      width: 1.125em;
      height: 1.125em;
      position: absolute;
      background: #FFF;
      border: 2px solid $background-color;
    }
  }
}
