<div class="comfluence-page search">
  <div class="search__container">
    <div class="search__menu">
      <div class="search__title">
        <h2>Rechercher un dispositif</h2>
      </div>
      <form [formGroup]="searchForm">
        <div class="warning-message" *ngIf="!online">
          Attention, ces résultats peuvent ne pas être complets car vous êtes hors ligne
        </div>
        <div class="search__bar select-container">
          <span class="search__text">
            <input type="text" placeholder="Indiquez {{ currentLabelText }} du dispositif" formControlName="text"
                   class="select">
          </span>
          <span>
            <button class="btn btn-primary" (click)="sendSearch(searchForm.value)" type="submit">Rechercher</button>
          </span>
        </div>
        <div class="search__radio">
          <app-radio-group [radios]="radioDefs" formControlName="type" [columns]="3"></app-radio-group>
        </div>
        <div class="search__dates">
          <span class="search-date-container">
            <label class="search-date-label" for="dateMin">Date de Début</label>
            <div class="search-date-input">
              <div class="input-date" [class.date-range]="!dateIsSelected">
                <input id="dateMin" type="date" formControlName="dateMin">
              </div>
            </div>
          </span>
          <span class="search-date-container">
            <label class="search-date-label" for="dateMax">Date de fin</label>
            <div class="search-date-input">
              <div class="input-date" [class.date-range]="!dateIsSelected">
                <input id="dateMax" type="date" formControlName="dateMax">
              </div>
            </div>
          </span>
        </div>
      </form>
    </div>
    <div class="search-result-container">
      <div>
        <div class="search-result-title" *ngIf="searched">
          {{ (results.length === 0 ? 'Aucun' : results.length) + ' dispositif' + (results.length <= 1 ? '' : 's') + ' trouvé' + (results.length <= 1 ? '' : 's') }}
        </div>
        <div class="search-result-title" *ngIf="!searched && searchedBefore">
          Récemment recherché
        </div>
        <div class="search-result">
          <div *ngFor="let result of results; let even = even; let odd = odd" [class.left-result]="even"
               [class.right-result]="odd">
            <div class="result-reference">{{result.reference}}</div>
            <app-item [item]="result" (itemClicked)="selectItem($event)"></app-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader *ngIf="isWaitingResponse" [iconOnly]="true" [modaly]="true"></app-loader>
</div>
