@import "src/assets/scss/theme";

.comfluence-page {
  overflow: auto;
  height: 100%;
}

.search {
  &__container {
    max-width: 50em;
    padding: 0 1em;
    margin: auto;

    .search-result-container {
      .search-result-title {
        @extend %surline-dashing;
      }

      .search-result {
        .result-reference {
          font-weight: $medium;
          color: $secondary-color;
          margin-bottom: .5em;
        }

        .left-result, .right-result {
          width: calc(50% - .5em);
          display: inline-block;
        }

        .left-result {
          margin-right: .5em;
        }

        .right-result {
          margin-left: .5em;
        }
      }
    }
  }

  &__menu {
    margin-bottom: 1em;
  }

  &__bar {
    display: flex;
    margin: 1em auto;
  }

  &__text {
    margin-right: 1em;
    width: 100%;
  }

  &__radio {
    max-width: 30em;
  }

  &__dates {
    margin: 2em auto;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;

    .search-date-container {
      width: 50%;
      display: inline-flex;
      justify-content: space-around;

      .search-date-label {
        display: flex;
        align-items: center;
      }

      .search-date-input {
        display: inline-block;
        margin: auto;
      }
    }
  }
}

/* Medium screen */
@media only screen and (max-width: 43.75em) {

  .search {
    &__dates {
      flex-direction: column;

      .search-date-container {
        width: 100%;
        justify-content: space-between;
        max-width: 26em;
        padding: .5em 0;

        .search-date-input {
          margin: 0;
        }
      }
    }
  }
}
