<div id="camera-view">
  <ng-container *ngIf="isTaken; then print; else take"></ng-container>
</div>

<ng-template #print>
  <img class="photo-preview" [src]="file" width="100%" height="100%" />
  <div class="btn-group">
    <button class="btn-delete" id="new" (click)="newPhoto()"></button>
    <button class="btn-validate" id="save" (click)="save()"></button>
  </div>
</ng-template>

<ng-template #take>
  <div *ngIf="photoSrc || photoId; else newPhotoDiv" id="previous-photo">
    <img *ngIf="photoSrc; else fromApi" [src]="photoSrc">
    <ng-template #fromApi>
      <app-image [id]="photoId"></app-image>
    </ng-template>
    <div class="btn-group">
      <button class="btn-delete" id="new" (click)="newPhoto()"></button>
    </div>
  </div>
  <ng-template #newPhotoDiv>
    <div id="new-photo">
      <video #video id="video" [width]="windowWidth" [height]="windowHeight" autoplay></video>
      <input #zoomInput [class.hidden]="!displayZoom" type="range" [min]="zoomMin" [max]="zoomMax" value="1"
        class="slider" [step]="this.zoomStep" id="zoomInput">
      <button id="snap" (click)="capture()"></button>
      <canvas #canvas id="canvas" [width]="windowWidth" [height]="windowHeight"></canvas>
    </div>
  </ng-template>
</ng-template>