/* Import theme */
@import './theme.scss';

/* #region Media Queries */
/* Full screen */
@media only screen and (min-width: 43.8125em) {
  .mobile {
    display: none;
  }
  .modal-wrapper {
    .modal-content {
      margin: 1em auto;
    }
  }
  .camera-wrapper {
    .modal-wrapper {
      .modal-content {
        margin: 0;
      }
    }
  }

  #all-items .side #map-container::after,
  .dashboard .side #map-container::after {
    top: 0;
    left: -17px; //to hide scroll-bar with the gradient
    bottom: 0;
    z-index: 1;
    content: '';
    height: 100%;
    width: 9.25em;
    position: absolute;
    pointer-events: none;
    background: -moz-linear-gradient(left, $primary-background-color 21%, rgba(255, 255, 255, 0.00) 100%);
    background: -webkit-linear-gradient(left, $primary-background-color 21%, rgba(255, 255, 255, 0.00) 100%);
    background: linear-gradient(to right, $primary-background-color 21%, rgba(255, 255, 255, 0.00) 100%);
  }

  .new-device-container {
    .center-warning-message {
      text-align: center;
    }
  }
}

/* Medium screen */
@media only screen and (max-width: 43.75em) {
  body, .dashboard {
    overflow: initial !important;
  }
  .desktop {
    display: none;
  }

  #all-items,
  .dashboard {
    #map-container {
      left: 0;
      right: 0;
      width: 100%;
      top: 7.875em;
      position: fixed;
      height: 44vh !important;
      &::after {
        display: none;
      }
    }
  }
  #overview,
  .hide-scrollbar {
    left: 0;
    right: 0;
    z-index: 4;
    margin-top: 44vh;
    position: absolute;
    overflow: hidden;
    background: #FFFFFF;
    max-width: 100% !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: calc(100vh - 24px) !important;
    box-shadow: 0 -6px 16px rgba(0, 0, 0, .05);
    &::before {
      left: 0;
      right: 0;
      z-index: 1;
      content: '';
      margin: auto;
      top: 0.3125em;
      width: 2.5625em;
      height: 0.3125em;
      position: absolute;
      border-radius: 0.1875em;
      background: rgba(61, 61, 61, 0.41);
    }
    &::after {
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      content: '';
      height: 1em;
      margin: auto;
      position: absolute;
      border-radius: 0.1875em;
      background: rgba(255, 255, 255, .9);
    }
    #items-visualize {
      margin-left: -1em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: .67em;
      width: calc( 100% + 2em);
      background-color: #edf1f4;

      .return-button {
        margin-top: 0;
      }
    }
    ~ .is-visible-mobile-overlay {
      left: 0;
      bottom: 0;
      opacity: 0;
      content: '';
      width: 100%;
      position: absolute;
      pointer-events: none;
      background-color: #000000;
      transition: opacity .25s ease-in-out;
    }
    &.side #tile {
      height: auto;
      overflow: hidden;
    }
    &.fixe-it:not(.hide-drawer) {
      ~ .is-visible-mobile-overlay{
        z-index: 3;
        top: -1.5em;
        opacity: .5;
        height: 100%;
      }
      #tile {
        height: 100%;
        overflow: auto;
      }
      #items-list {
        overflow: auto;
        height: calc(100% - 10.125em);
      }
      #items-visualize {
        height: 100%;
        overflow: auto;
      }

    }
    &.hide-drawer {
      display: none !important;
    }
    #today-date {
      h1 {
        text-align: center;
        br {
          display: none;
        }
      }
    }
  }
  #new-device-form {
    ul.select-device-type {
      flex-direction: column !important;
      li {
        margin-bottom: 1em;
      }
      .tile {
        max-width: 100% !important;
      }
    }
  }
  .new-device-container {
    .center-warning-message {
      text-align: center;
      max-width: calc(100% - 2em);
      margin-left: 1em;
      p {
        margin-left: 1em;
      }
    }
    .warning-message {
      padding-left: 3em;
    }
    #new-device-map {
      #map-info {
        position: relative;
        max-width: calc(100% - 2em);
        span.move-map-message {
          display: none;
        }
      }
    }
    section {
      &.input-wrapper {
        .form-card {
          .radio-wrapper {
            margin-top: 1em;
          }
        }
        .side {
          &.right {
            width: 100%;
          }
          &.left {
            width: 100%;
            .form-card-container {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

/* Small screen */
@media only screen and (max-width: 28.125em) {
  #today-date br {
    display: none;
  }
  #all-items #items-container {
    width: 100%;
    position: absolute;
    background: #FFFFFF;
  }
}

/* #endregion */
/* ------- */
