/* Variables */

/* COLORS */
$primary-color: #3D3D3D;
$secondary-color: #0F7173;
$tertiary-color: #DD2C4A;
$disable-color: #808080;

$good-color: #417505;

$primary-background-color: #EDF1F4;
$background-color: #D2DDE4;
$primary-background-item-color: #FFFFFF;

$offline-color: #E18F07;

/* Assets Components */
$IMAGE_PATH: '~src/assets/image';
$FONT_PATH: '~src/assets/fonts';

/* FONT related */
$extra-bold: 700;
$bold: 600;
$medium: 500;
$normal: 400;



/* Toastr */
@import '~ngx-toastr/toastr';

%surline-dashing {
  margin-bottom: 1em;

  &:after {
    content: "";
    display: block;
    width: 5.75em;
    height: 1px;
    background: repeating-linear-gradient(
        90deg,
        $secondary-color,
        $secondary-color 5px,
        #FFF 5px,
        #FFF 10px
    );
  }
}
