<form [formGroup]="deviceTypeForm" id="new-device-form" class="without-chips" (ngSubmit)="submitTypeForm()">
  <div class="pop-in-header">
    <h3>Quel type de dispositif ?</h3>
  </div>
  <ul class="select-device-type">
    <li *ngFor="let type of types" class="select-publicite">
      <input id="{{ type | lowercase }}" type="radio" value="{{ type }}" formControlName="type" class="input-type"
        required>
      <div class="tile"></div>
      <span class="icon"></span>
      <label for="{{ type | lowercase }}">
        {{ type | enumToString }}
      </label>
    </li>
  </ul>
  <div class="select-container">
    <label>Cadre du contrôle</label>
    <div class="select-box">
      <select formControlName="guidance" class="select">
        <option *ngFor="let guidance of guidances" [ngValue]="guidance">
          {{ guidance | enumToString }}
        </option>
      </select>
    </div>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-outline" (click)="cancelClick()">Annuler</button>
    <button type="submit" class="btn btn-primary">Continuer</button>
  </div>
</form>
