/* Import theme */
@import "src/assets/scss/theme";

#new-device-form {
    h3::after {
        left: 0;
        right: 0;
        height: 1px;
        content: '';
        margin: auto;
        bottom: -.5em;
        width: 8.375em;
        position: absolute;
        border-radius: 2px;
        background-color: $secondary-color;
    }
}
