<form [formGroup]="commentForm" class="comment-container form-card-container">
  <h3>Commentaire</h3>
  <div class="form-card">
    <app-textarea formControlName="text"
                  [placeholder]="'Vous pouvez noter toutes les informations utiles au contrôle …'"
                  [maxLength]="511" [showCount]="true" *ngIf="!readOnly; else readOnlyComment"></app-textarea>
    <ng-template #readOnlyComment>
      <p>{{ comment ? comment.text : '' }}</p>
    </ng-template>
  </div>
</form>
