<ng-container>
  <div class="center-warning-message" *ngIf="warningMessage">
    <p>Assurez-vous qu’il s’agit d’un dispositif inconnu</p>
  </div>
  <section class="input-wrapper">
    <div class="form-card-container nearby">
      <h3>À proximité</h3>
      <div class="form-card">
        <ul *ngIf="nearbyDevices?.length > 0; else noNearby">
          <li *ngFor="let photo of photos">
            <app-image [id]="photo.id" [downloadFull]="false"></app-image>
          </li>
        </ul>
        <ng-template #noNearby>
          <div class="no-nearby-device center-warning-message">
            <span class="vertical-centering">
              Pas de dispositif aux alentours
            </span>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
</ng-container>
