.nearby {
  .form-card {
    height: 7.9375em;

    .no-nearby-device {
      height: 5.8125em;
      background: none !important;
      display: inline-flex;

      .vertical-centering {
        margin: auto;
      }
    }
  }
}
