@import "src/assets/scss/theme";

.items-component-content {
  height: 100%;

  .hidden {
    display: none;
  }

  #all-items {
    width: 100%;
    height: 100%;

    &.no-scroll {
      overflow: hidden;
    }

    &.with-statistics {
      height: calc(100% - 6.8125em);
    }

    #items-container {
      height: 100%;
      padding: 0 1em;

      .no-text-transform {
        text-transform: none;
      }
    }
  }

  .total-bandeau {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 6.8125em;
    background-color: #FFFFFF;
    border-top: 1px solid #D2DDE4;

    .total-items {
      width: 90%;
      height: 4em;
      margin: auto;
      display: flex;
      max-width: 64em;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      justify-content: space-between;

      .total-item {
        &:before {
          left: -2em;
          content: "";
          width: 1.25em;
          height: 1.25em;
          position: absolute;
          border-radius: 50%;
        }

        &.total-comply:before {
          background-color: #417505;
        }

        &.total-non-compliant:before {
          background-color: $tertiary-color;
        }

        &.total-undefined:before {
          background-color: #12529C;
        }
      }
    }

    #sub-total {
      width: 100%;
      height: 2.8125em;
      background-color: #3D3D3D;

      #sub-total-items {
        height: 100%;
        margin: auto;
        display: flex;
        max-width: 35em;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;

        .total-item {
          color: #FFFFFF;

          &:before {
            left: -2em;
            content: "";
            width: 1.5em;
            height: 1.5em;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
          }

          &.total-ad:before {
            background-image: url('#{$IMAGE_PATH}/icn_type_ad_white.svg');
          }

          &.total-signboard:before {
            background-image: url('#{$IMAGE_PATH}/icn_type_signboard_white.svg');
          }

          &.total-presignboard:before {
            background-image: url('#{$IMAGE_PATH}/icn_type_presignboard_white.svg');
          }
        }
      }
    }
  }

  .visualization-bandeau {
    left: 24.25em;
    bottom: .25em;
    position: absolute;
    width: calc(100% - 25.5em);

    &.with-gradient::before {
      left: 0;
      right: 0;
      width: 100%;
      content: '';
      height: 105%;
      position: absolute;
      background-image: linear-gradient(0deg, #EDF1F4 60%, rgba(255, 255, 255, 0.00) 99%);
    }

    .btn-wrapper {
      display: flex;
      padding: 0.5em;
      border-radius: 3px;
      flex-direction: row;
      justify-content: space-evenly;

      .btn {
        width: 12.375em;

        &.btn-secondary {
          margin-right: 1em;
        }
      }
    }
  }
}

@media only screen and (min-width: 43.8125em) {
  .items-component-content {
    #all-items {
      .side {
        #items-list {
          max-width: 23.125em;
        }

        &:last-of-type {
          width: calc(100% - 24.25em);
        }
      }

      #items-container {
        overflow: auto scroll;
        width: calc(100% + 1.25em);
      }
    }
  }
  .visualization-bandeau {
    max-width: calc(50% - 21em);
  }
}

@media only screen and (max-width: 43.75em) {
  .items-component-content {
    #all-items {
      .side {
        width: 100%;
      }
    }

    .total-bandeau {
      z-index: 5;
      height: 4.8125em !important;

      .total-items {
        .total-item {
          display: none;
        }

        .btn-add-new-device {
          width: 100%;

          button {
            width: 100%
          }
        }
      }

      #sub-total {
        display: none;
      }
    }
  }
  .visualization-bandeau {
    right: 0;
    z-index: 4;
    left: 0 !important;
    padding-bottom: 1em;
    bottom: 0 !important;
    width: 100% !important;
    position: fixed !important;
    transition: all .15s ease-in;

    &.hide {
      opacity: 0;;
      pointer-events: none;
    }

    &::before {
      left: 0;
      right: 0;
      width: 100%;
      content: '';
      height: 105%;
      position: absolute;
      background-image: linear-gradient(0deg, #edf1f4 60%, rgba(237, 241, 244, 0) 99%);
    }
  }
}


@media only screen and(max-width: 48.25em) {
  .visualization-bandeau {
    .btn-wrapper {
      .btn {
        width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.btn-secondary {
          margin-right: 0 !important;
        }
      }
    }
  }
}


@media only screen and (max-width: 83.625em) {
  .visualization-bandeau {
    max-width: 100% !important;

    .btn-wrapper {
      max-width: 31em;
    }
  }
}
