<div class="items-component-content">
  <div id="all-items" class="comfluence-page {{selectedItem ? '' : 'with-statistics'}}" [class.no-scroll]="showPhoto">
    <div #drawer class="hide-scrollbar side" [class.fixe-it]="fixeDrawer" [class.hide-drawer]="documents">
      <div id="items-container" [ngSwitch]="selectedItem">
        <app-visualize-item *ngIf="selectedItem; else listItemsContainer" (returnClick)="listItems($event)"
                            [item]="selectedItem" (closeProcedure)="handleCloseProcedure($event)"></app-visualize-item>
      </div>
    </div>
    <div class="is-visible-mobile-overlay"></div>
    <div class="side">
      <app-osm #osm [class.hidden]="documents" [items]="items" [showFilter]="showFilter"
               [currentFilters]="selectedFilters" [coordinates]="selectedItem?.coordinates"
               (openFilter)="onShowFilterPopIn()"
               (selectedMarker)="handleSelectedMarker($event)"></app-osm>
      <app-documents [item]="selectedItem" *ngIf="documents"></app-documents>
    </div>
  </div>
  <div class="total-bandeau" *ngIf="!selectedItem; else bandeauButtons">
    <ul class="total-items">
      <li class="total-item total-comply">
        {{statistics.compliantDevices}} conformes
      </li>
      <li class="total-item total-non-compliant">
        {{statistics.nonCompliantDevices}} non conformes
      </li>
      <li class="total-item total-undefined">
        {{statistics.todoDevices}} à déterminer
      </li>
      <li class="btn-add-new-device">
        <button class="btn btn-primary" (click)="showModal('item')">Ajouter un dispositif</button>
      </li>
    </ul>
    <div id="sub-total">
      <ul id="sub-total-items">
        <li class="total-item total-ad">
          {{statistics.adDevices}} Publicités
        </li>
        <li class="total-item total-presignboard">
          {{statistics.preSignboardDevices}} Préenseignes
        </li>
        <li class="total-item total-signboard">
          {{statistics.signboardDevices}} Enseignes
        </li>
      </ul>
    </div>
  </div>

  <ng-template #bandeauButtons>
    <div class="visualization-bandeau" [class.with-gradient]="documents" [class.hide]="showPhoto">
      <div class="btn-wrapper">
        <button class="btn btn-secondary" (click)="handleOnClickDocuments($event)" [disabled]="networkOffLine">
          {{ documents ? 'Voir la carte' : 'Documents associés'}}
        </button>
        <button class="btn btn-primary" (click)="editItem($event)">Modifier le dispositif</button>
      </div>
    </div>
  </ng-template>
</div>

<app-modal [(visible)]="modalIsOpen" *ngIf="modalIsOpen" [ngSwitch]="true">
  <app-filters *ngSwitchCase="isFilter" [selectedFilters]="selectedFilters" (filtersCreated)="handleFilters($event)"
               (cancel)="closeModal($event)">
  </app-filters>
  <app-new-device-modal *ngSwitchCase="!isFilter" (cancel)="closeModal($event)"></app-new-device-modal>
</app-modal>

<ng-template #listItemsContainer>
  <div id="today-date">
    <h1 *ngIf="!controller; else controllerTitle">
      {{today | date: 'EEEE' : 'UTC' : 'fr-FR' }}<br/>
      {{today | date: 'dd'}} {{today | date: 'LLLL' : 'UTC' : 'fr-FR' }}
    </h1>
    <ng-template #controllerTitle>
      <h1>
        {{ controller?.firstName + ' ' + controller?.lastName}}<br/>
        {{ control?.statistics.startDate | date: 'dd' }}
        {{control?.statistics.startDate | date: 'LLLL' : 'UTC' : 'fr-FR'}},
        <span class="no-text-transform">à</span> {{ control?.statistics.startDate | appTime }}
      </h1>
    </ng-template>
  </div>
  <app-sort-container [sorts]="orders" (sortEmitter)="handleSort($event)"></app-sort-container>

  <ul id="items-list">
    <app-loader *ngIf="waitingForResponse" [iconOnly]="false" [label]="'Mise à jour des données'" [modaly]="false">
    </app-loader>
    <li *ngFor="let item of items">
      <app-item [item]="item" (itemClicked)="selectItem($event)"></app-item>
    </li>
  </ul>
</ng-template>
