<div class="documents-container">
  <div class="documents-hide-scrollbar">
    <div class="documents-content">
      <div class="documents-comment">
        <form [formGroup]="documentForm">
          <app-textarea [placeholder]="'Ajouter un commentaire …'" formControlName="comment" [maxLength]="maxCount">
          </app-textarea>
          <div class="warning-message">
            <p>
              {{ error }}
            </p>
          </div>
          <div class="separator"></div>
          <div class="actions-comment">
            <span class="file-name-container">
              <span class="file-name-container-view" *ngIf="document?.file">
                <span class="remove-file-attachment" (click)="deleteFile()"></span>
                <span class="change-file" [title]="document?.file.name"
                  (click)="fileElement.click()">{{ document?.file.name }}</span>
              </span>
            </span>
            <span class="attachments paperclip" [class.have-file]="document?.file" (click)="fileElement.click()">
              <input type="file" class="input-file-hide" name="document" #fileElement (change)="updateFile($event)"
                formControlName="file">
            </span>
            <span class="attachments attach-files"></span>
            <button [disabled]="isWaitingResponse" class="new-comment-btn" (click)="saveComment($event)">Poster</button>
          </div>
        </form>
      </div>
      <div class="documents-list">
        <div class="add-new-procedure" (click)="newProcedure($event)">
          Ajouter une procédure
        </div>
        <div class="documents-type-header">
          <span *ngFor="let documentsType of filters" class="{{ documentsType.className }}"
            [class.selected]="documentsType.selected" (click)="chooseType(documentsType)">{{ documentsType.label }}
          </span>
        </div>
        <div class="documents-list-content">
          <app-document *ngFor="let documentItem of filteredDocuments()" [document]="documentItem" [type]="item.type"
            (selectDocEmitter)="onSelectDocument($event)" [selected]="selectedForPreview?.id === documentItem.id">
          </app-document>
        </div>
      </div>
    </div>
  </div>
  <div class="document-viewer" *ngIf="selectedForPreview?.hasDoc || (selectedForPreview?.type == InformationType.PROCEDURE && !selectedForPreview?.closeDate);
    else unselectedDoc">
    <div class="document-viewer__header">
      <div class="document-viewer__toolbar" *ngIf="selectedForPreview.hasDoc">
        <div class="document-viewer__action document-viewer__action--close-view --tooltipable"
          (click)="closeView($event)">
          <span class="as-tooltip">Fermer la prévisualisation</span>
        </div>
        <!-- <div class="document-viewer__action document-viewer__action--print --tooltipable">
          <span class="as-tooltip">Imprimer le pdf</span>
        </div> -->
        <a download (click)="onUploadOdt((selectedForPreview?.type==InformationType.PROCEDURE), true, $event)" [href]=""
          class="document-viewer__action document-viewer__action--download --tooltipable">
          <span class="as-tooltip">Télécharger le document</span>
        </a>
        <div *ngIf="selectedForPreview?.type == InformationType.PROCEDURE"
          class="document-viewer__action document-viewer__action--upload --tooltipable"
          (click)="onUploadOdt(true, false, $event)">
          <span class="as-tooltip">Téléverser une nouvelle version du document</span>
        </div>
        <div *ngIf="selectedForPreview?.type == InformationType.PROCEDURE
        && (selectedForPreview?.procedure?.id === 1 || selectedForPreview?.procedure?.id === 2)"
          (click)="openAddDelayModal()"
          class="document-viewer__action document-viewer__action--add-delay --tooltipable">
          <span class="as-tooltip">Accorder un délai supplémentaire</span>
        </div>
      </div>
      <div class="document-viewer__close-procedure"
        *ngIf="selectedForPreview.type == InformationType.PROCEDURE && !selectedForPreview.closeDate">
        <span (click)="closeProcedureModalVisible = true"
          *ngIf="[1,2,3,10,12,20].includes(selectedForPreview.procedure.id)">
          Clore cette procédure
        </span>
        <span (click)="terminateSansSuitePVModalVisible = true"
          *ngIf="[5,15].includes(selectedForPreview.procedure.id)">
          Classer sans suites
        </span>
        <span (click)="terminatePVModalVisible = true" *ngIf="[5,15].includes(selectedForPreview.procedure.id)">
          Finaliser cette procédure
        </span>
      </div>
    </div>
    <div class="document-viewer__preview">
      <app-doc-viewer #docviewer [id]="selectedForPreview?.id"></app-doc-viewer>
    </div>
  </div>
  <ng-template #unselectedDoc>
    <div class="document-placeholder">
      <div class="img-placeholder"></div>
      <p>Sélectionnez un document, un courrier<br />
        ou une procédure pour la prévisualiser ici.</p>
    </div>
  </ng-template>

  <app-confirm-modal [(isOpen)]="addDelayModal" class="small" (accept)="updateDocumentDelay(selectedForPreview)">
    <div title>Accorder un délai supplémentaire</div>
    <div content>
      <div>
        <label for="addDelay">Délai supplémentaire (jours) : </label>
        <input type="number" [formControl]="addDelayControl" id="addDelay" min="1">
        <app-textarea [placeholder]="'Renseignez un commentaire pour justifier le délai'"
          [formControl]="commentControl"></app-textarea>
      </div>
    </div>
  </app-confirm-modal>
</div>


<app-confirm-modal [(isOpen)]="closeProcedureModalVisible" (accept)="closeProcedure($event)" class="small warning"
  [cancelLabel]="'Non'" [confirmLabel]="'Oui'">
  <div title>Demande de confirmation</div>
  <div content>Êtes-vous sûr de vouloir clôre cette procédure ?</div>
</app-confirm-modal>

<app-confirm-modal [(isOpen)]="terminatePVModalVisible" (accept)="terminatePV(selectedForPreview)"
  class="small warning">
  <div title>Finaliser le PV</div>
  <div content>
    <label for="terminate-pv">Fait et clos le :</label>
    <div class="input-date">
      <input id="terminate-pv" type="date" [formControl]="terminateDateControl">
    </div>
  </div>
</app-confirm-modal>

<app-confirm-modal [(isOpen)]="terminateSansSuitePVModalVisible" (accept)="terminateSansSuitePV(selectedForPreview)"
  class="small warning">
  <div title>Classer sans suite le PV</div>
  <div content>
    Voulez-vous classer ce PV sans suite ?
  </div>
</app-confirm-modal>

<app-modal [(visible)]="modalIsOpen" *ngIf="modalIsOpen">
  <app-upload-odt *ngIf="openModalFor === 'upload'" (cancel)="modalIsOpen = false" (editedDoc)="onEditedDoc($event)"
    [idDevice]="item.id" [idPreview]="selectedForPreview.id"></app-upload-odt>
  <app-new-procedure *ngIf="openModalFor === 'procedure'" (procedureCreated)="closeModal($event)"
    (cancel)="modalIsOpen = false" [idDevice]="item.id" [procedures]="procedures" [groups]="groups"
    [lastProcedureGroupId]="item.lastProcGroupId">
  </app-new-procedure>
</app-modal>

<app-confirm-modal [(isOpen)]="confirmTerminateModal" class="small warning" [confirmButton]="false"
  [cancelLabel]="'Ok'">
  <div title>Le PV à été cloturé</div>
  <div content>
    Attention, il ne vous reste plus que 5 jours pour transmettre ce PV aux autorités compétentes.
  </div>
</app-confirm-modal>

<app-loader #loader *ngIf="isWaitingResponse" [iconOnly]="true"></app-loader>