<div class="images-container">
  <img src="{{imageToShow}}" *ngIf="downloadFull">
  <img [class.photo-blur-out]="!isImageLoading" class="photo-thumb" [class.photo-blur]="downloadFull" src="{{degradedImageToShow}}">
</div>
