<div>
  <label for="{{for}}" class="label inline">
    {{ label }}
  </label>
  <span *ngIf="required && !readOnly">*</span>
  <ng-content></ng-content>
  <p *ngIf="readOnly">
    {{ value }}
  </p>
</div>
