<div class="form-card-container infrigement-card">
  <h3>Infractions</h3>
  <div class="form-card">
    <ul>
      <ng-container *ngFor="let infrigement of infrigements">
        <li *ngIf="infrigement.status !== toDeleteStatus" class="infrigement deletable" (click)="showRemovalPopin(infrigement)">
          <span>{{ infrigement.offenseNature }}</span>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="button-add">
    <button type="button" class="btn btn-secondary" (click)="openModalAdd()">
      Ajouter une infraction
    </button>
  </div>
  <app-confirm-modal [(isOpen)]="modalOpen" [confirmButton]="false">
    <div title>Ajouter une infraction</div>
    <div content class="add-infrigement-popin-content">
      <div class="infringement-search-bar">
        <app-search-input [formControl]="searchTextControl"></app-search-input>
      </div>
      <ul>
        <li *ngFor="let infrigement of foundInfrigements" (click)="selectInfrigement(infrigement)" class="infrigement">
            {{ infrigement.natinfCode + ' : ' + infrigement.offenseNature }}
        </li>
      </ul>
      <div *ngIf="hasMoreResult" class="more-results">
        Trop de résultats, veuillez affiner la recherche
      </div>
    </div>
  </app-confirm-modal>
  <app-confirm-modal [(isOpen)]="modalRemove" (accept)="acceptRemoval(removeFormGroup.value)">
    <div title>Levée de l'infraction</div>
    <div content class="remove-infrigement-popin-content">
      <form [formGroup]="removeFormGroup">
        <app-textarea [maxLength]="255" formControlName="comment"
                      [placeholder]="'Vous pouvez renseigner les informations suivantes : Date de dépose, tractations, délais accordés, …'"></app-textarea>
      </form>
      <div class="save-to-delete-infrigement">
        L'infraction sera levée une fois les modifications enregistrées.
      </div>
    </div>
  </app-confirm-modal>
</div>
