/* Import theme */
@import "src/assets/scss/theme";

.uploadfilecontainer {
  width: 80%;
  height: 200px;
  margin: 20px auto;
  border-radius: .625em;
  background-color: #FFFFFF;
  background-image: url("#{$IMAGE_PATH}/icn_cloud.svg");
  background-repeat: no-repeat;
  background-position: 50% 15%;
  &:hover, &.dragging {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
  }

  p {
    left: 0;
    right: 0;
    margin: 0;
    bottom: 1em;
    margin: auto;
    max-width: 80%;
    pointer-events: none;
    position: absolute;
    text-align: center;
    &.err {
      color: $tertiary-color;
    }
    span {
      color: $secondary-color;
    }
  }

}

.files-list {
  display: flex;
  width: 80%;
  padding: 5px;
  margin: 10px auto;
  border: 1px dashed;
  border-radius: .25em;
  background: #ffffff;
  color: $secondary-color;
  justify-content: space-between;
  p {
    margin: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .btn-delete {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background: url("#{$IMAGE_PATH}/icn_delete_red.svg") no-repeat center;
  }

  .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
