<div class="history-control-container">
  <span class="history-control-date">
    <span class="history-control-date-day">
      {{ control.controlDate | date: 'dd'}}
    </span>
    <span>
      {{ control.controlDate | date: 'MMM'}}.
    </span>
  </span>
  <span class="history-control-information" (click)="sendClickEvent()">
    <span class="history-image-controller">
      <!--<img src="https://img.lemde.fr/2019/04/22/0/191/1619/1079/688/0/60/0/e39da8d_2FIads9h8wB-0SwSgxVaVWsp.jpg">-->
    </span>
    <span class="history-control-information-preview">
      <div class="history-control-information-first-line">
        <span class="history-control-names">
          <span class="history-control-controller-name">
            {{ controller?.firstName + ' ' + controller?.lastName }}
          </span>
          <span *ngIf="control.attendantMail">
            accompagné de
            <span class="history-control-attendant-name">
              {{ attendant?.firstName + ' ' + attendant?.lastName }}
            </span>
          </span>
        </span>
        <span>
          <ng-container *ngIf="controlled">
            à {{ control.statistics.startDate | appTime }}
          </ng-container>
        </span>
      </div>
      <div class="history-control-information-second-line">
        <ng-container *ngIf="controlled; else showCity">
          <span class="icon-before-label icon-distance">
            Distance Parcourue : {{ formatStatisticsTraveledDistance() }}km
          </span>
          <span class="icon-before-label icon-passed-time">
            Durée : {{ formatStatisticsDuration() }}
          </span>
          <span class="icon-before-label icon-controlled-devices">
             Dispositifs contrôlés : {{ control.statistics.controlledDevices }}
          </span>
        </ng-container>
      </div>
      <div *ngIf="showDetailContent">
        <ng-content></ng-content>
      </div>
      <ng-template #showCity>
        <span class="icon-before-label icon-city">
          Ville référencée : {{ control.cities?.length > 0 ? control.cities[0].name : ''}}
        </span>
      </ng-template>
    </span>
  </span>
</div>
