<div class="login-vertical-centering">
  <div class="login-container">
    <div class="login-title"></div>
    <div class="login-comment">
      Bienvenue dans l'outil Comfluence, utilisez votre adresse mail et mot de passe pour vous connecter.
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="select-container">
        <label for="username">Identifiant</label>
        <input id="username" type="text" formControlName="username" class="select"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      </div>
      <div class="select-container">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password" class="select"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      </div>
      <div class="btn-group">
        <button [disabled]="isWaitingResponse" class="btn btn-primary">Connexion</button>
      </div>
    </form>
  </div>
</div>
<div class="login-bottom-message">
  Si vous avez oublié vos identifiants de connexion, merci de contacter le
  service SIG de votre département. ({{ version }})
</div>
<app-loader *ngIf="isWaitingResponse" [iconOnly]="true" [modaly]="true"></app-loader>
