<div class="comfluence-page department">
  <div class="department__header">
    <h2>Gestion des départements</h2>
    <button class="btn btn-primary" (click)="createDepartement()">Ajouter un département</button>
  </div>
  <div class="department__datatable">
    <ngx-datatable class="material" [rows]="departments" [columnMode]="columnModeFlex" [scrollbarV]="true"
      [rowHeight]="50" style="height: 100%;" [selected]="selected" [loadingIndicator]="true" [reorderable]="false"
      headerHeight="50" footerHeight="50" (select)="onSelect($event)" [sorts]="[{prop:'name', dir:'asc'}]"
      [trackByProp]="'code'" [selectionType]="selectionTypeSingle">
      <ngx-datatable-column name="Numéro" prop="code" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Libellé" prop="name" [flexGrow]="2"></ngx-datatable-column>
      <ngx-datatable-column name="Point Sud Ouest" prop="box" [sortable]="false" [flexGrow]="3">
        <ng-template let-box="value" ngx-datatable-cell-template>
          {{  box.minLong + ', ' + box.minLat }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Point Nord Est" prop="box" [sortable]="false" [flexGrow]="3">
        <ng-template let-box="value" ngx-datatable-cell-template>
          {{ box.maxLong + ', ' + box.maxLat }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" prop="code" [sortable]="false" [flexGrow]="1">
        <ng-template let-code="value" ngx-datatable-cell-template>
          <button class="btn btn-primary btn--small" (click)="editDepartement(code)">Éditer</button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <app-confirm-modal [(isOpen)]="modalEditDepartment" (accept)="saveDepartement(editedDepartmentForm.value)">
    <div title>Édition du département</div>
    <div content>
      <form [formGroup]="editedDepartmentForm" class="edit">
        <app-input [label]="'Code'" [required]="true" *ngIf="createMode">
          <div class="edit__line">
            <input type="number" formControlName="code" autocomplete="false">
          </div>
        </app-input>
        <app-input [label]="'Libellé'" [required]="true">
          <div class="edit__line">
            <input type="text" formControlName="name" autocomplete="false">
          </div>
        </app-input>
        <ng-container formGroupName="box">
          <app-input [label]="'Coordonnées Sud Ouest'" [required]="true">
            <div class="edit__line edit__line--coordinates">
              <span>
                <label for="box-minLong">X : </label>
                <input id="box-minLong" type="text" formControlName="minLong" autocomplete="false">
              </span>
              <span>
                <label for="box-minLat">Y : </label>
                <input id="box-minLat" type="text" formControlName="minLat" autocomplete="false">
              </span>
            </div>
          </app-input>
          <app-input [label]="'Coordonnées Nord Est'" [required]="true">
            <div class="edit__line edit__line--coordinates">
              <span>
                <label for="box-maxLong">X : </label>
                <input id="box-maxLong" type="text" formControlName="maxLong" autocomplete="false">
              </span>
              <span>
                <label for="box-minLat">Y : </label>
                <input id="box-maxLat" type="text" formControlName="maxLat" autocomplete="false">
              </span>
            </div>
          </app-input>
        </ng-container>
        <ng-container formGroupName="territorialDirection">
          <app-input [label]="'Prefecture'" [required]="false">
            <div class="edit__line__large">
              <input id="prefecture" type="text" formControlName="prefecture" autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'Service'" [required]="false">
            <div class="edit__line__large">
              <input id="service" type="text" formControlName="service" autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'Pôle'" [required]="false">
            <div class="edit__line__large">
              <input id="pole" type="text" formControlName="pole" autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'Adresse'" [required]="false">
            <div class="edit__line__large">
              <input id="address" type="text" formControlName="address" autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'Ville & code postal'" [required]="false">
            <div class="edit__line__large">
              <input id="city" type="text" formControlName="city" autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'Directeur/Directrice'" [required]="false">
            <div class="edit__line__large">
              <input id="director" type="text" formControlName="director" autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'Direction'" [required]="false">
            <div class="edit__line__large">
              <input id="direction" type="text" formControlName="direction" autocomplete="false">
            </div>
          </app-input>

          <app-input [label]="'N° de téléphone'" [required]="false" class="edit__line--doubleitem">
            <div class="edit__line">
              <input id="phoneNumber" type="text" formControlName="phoneNumber" autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'N° de fax'" [required]="false" class="edit__line--doubleitem">
            <div class="edit__line">
              <input id="faxNumber" type="text" formControlName="faxNumber" autocomplete="false">
            </div>
          </app-input>

          <app-input [label]="'Autorité signatrice'" [required]="false">
            <div class="edit__line__large">
              <input id="signingAuthority" type="text" formControlName="signingAuthority" autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'Prénom de l\'autorité signatrice'" [required]="false" class="edit__line--doubleitem">
            <div class="edit__line">
              <input id="firstNameSigningAuthority" type="text" formControlName="firstNameSigningAuthority"
                autocomplete="false">
            </div>
          </app-input>
          <app-input [label]="'Nom de l\'autorité signatrice'" [required]="false" class="edit__line--doubleitem">
            <div class="edit__line">
              <input id="lastNameSigningAuthority" type="text" formControlName="lastNameSigningAuthority"
                autocomplete="false">
            </div>
          </app-input>
        </ng-container>
      </form>
    </div>
  </app-confirm-modal>
</div>