<div *ngIf="visible" class="modal-wrapper">
  <div class="is-visible-overlay" (click)="close()"></div>
  <div [@modal] class="modal-content">
    <ng-content></ng-content>
    <button (click)="close()" aria-label="Close" class="btn-close">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
</div>
