@import "src/assets/scss/theme";

.select-follower {
  margin: 1em 0;
}

.modal-map-wrapper {
  height: 25.75em;
}

.actions-container {
  div {
    margin: 0.5em 0;
  }
}

.cities-tag-container {
  margin-top: 2em;
  width: 100%;
  border-radius: .25em;
  background-color: #FFFFFF;
  border: 1px solid $background-color;
  padding: 0.5em;
  max-height: 6.77em;
  overflow: auto;

  .tag, .default-message {
    padding: 0.15em 1em;
    display: inline-block;
    margin: 0.5em;
  }

  .tag {
    color: #FFF;
    background-color: $secondary-color;
    border-radius: 3px;
  }
}

