/* Import theme */
@import "src/assets/scss/theme";

#items-order-by {
  z-index: 1;
  width: 100%;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 1px solid #D2DDE4;

  .list-orders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .item-order {
      cursor: pointer;

      &.order-selected {
        color: $secondary-color;

        &:after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 0;
          height: 0;
          margin-left: 5px;
          opacity: 0.66;
        }

        &.order-asc:after {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid $secondary-color;
        }

        &.order-dsc:after {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid $secondary-color;
        }
      }
    }
  }
}
