<app-header [navigation]="false">
  <button class="btn btn-delete" (click)="showModal(2)" title="Supprimer le dispositif"
    *ngIf="item && item.id"></button>
  <button type="submit" class="btn btn-primary" (click)="showModal(0)" [disabled]="!isValidate || isLoading">
    Enregistrer
  </button>
  <button class="btn btn-danger" (click)="showModal(1)">
    {{ item && item.id ? 'Retour' : 'Annuler' }}
  </button>
  <app-confirm-modal [(isOpen)]="modalOpen" class="small {{selectedState?.context}}"
    [confirmLabel]="selectedState?.confirmLabel" (accept)="submitDone()" (cancel)="cancel()"
    [cancelLabel]="selectedState?.cancelLabel">
    <div title>{{selectedState?.title}}</div>
    <div content>{{selectedState?.content}}</div>
  </app-confirm-modal>
  <app-loader *ngIf="isLoading" [iconOnly]="false" [label]="'Enregistrement...'" [modaly]="true">
  </app-loader>
</app-header>