<div id="items-visualize">
  <app-loader *ngIf="loading" [iconOnly]="true" [modaly]="true"></app-loader>
  <div class="return-button" (click)="showItems($event)">
    Retour à la liste
  </div>
  <app-address-photos [item]="item"></app-address-photos>
  <div class="form-card-container">
    <button *ngIf="!item.removed" class="btn btn-secondary" (click)="removeDeviceModalOpen = true">Déposer le
      dispositif</button>
    <div *ngIf="item.removed" class="information important-good">Dispositif déposé</div>
  </div>
  <app-context [context]="item.context" [readOnly]="true"></app-context>
  <app-description [description]="item.description" [readOnly]="true"></app-description>
  <app-comment *ngIf="item.comment && item.comment?.text && (item.comment?.text?.trim() !== '')"
    [comment]="item.comment" [readOnly]="true"></app-comment>

</div>

<app-confirm-modal [(isOpen)]="removeDeviceModalOpen" (accept)="handleRemoveClick()" class="small">
  <div title>Demande de confirmation</div>closeProcedureModalVisible
  <div content>Êtes-vous sûr de vouloir déposer ce dispositif?</div>
</app-confirm-modal>
