<div class="comfluence-page userboard">
  <app-loader *ngIf="loading" [iconOnly]="true" [modaly]="true"></app-loader>
  <div class="userboard__header">
    <h2>Gestion des utilisateurs</h2>
    <button type="button" class="btn btn-primary" (click)="editUserModalIsOpen = true">Ajouter un utilisateur</button>
  </div>
  <div class="userboard__datatable">
    <div class="action-menu-wrapper">
      <app-action-menu>
        <button [disabled]="actionDisabled" class="btn btn-primary dropdown-action" appActionMenuOrigin>
          Modifier l'utilisateur sélectionné
        </button>
        <ul class="dropdown" appActionMenu>
          <li (click)="openModifyUser(selectedUser)">
            <div>Editer</div>
          </li>
          <li (click)="openModifyPwd(selectedUser)">
            <div>Changer le mot de passe</div>
          </li>
          <li (click)="toggleEnable(selectedUser)">
            <div *ngIf="selectedUser?.enabled; else activate">Désactiver l'utilisateur</div>
            <ng-template #activate>
              <div>Activer l'utilisateur</div>
            </ng-template>
          </li>
          <li (click)="deleteModalIsOpen = true">
            <div>Supprimer</div>
          </li>
        </ul>
      </app-action-menu>
    </div>
    <ngx-datatable class="material" [rows]="users" [columnMode]="ColumnMode.flex" [scrollbarV]="true" [rowHeight]="50"
                   [loadingIndicator]="true" [reorderable]="false" headerHeight="50" footerHeight="50"
                   style="height: 100%"
                   (select)="onSelect($event)" [sorts]="[{prop:'lastName', dir:'asc'}]" [trackByProp]="'id'"
                   [selected]="selected"
                   [selectionType]="SelectionType.single">
      <ngx-datatable-column name="Prénom" prop="firstName" [flexGrow]="3">
      </ngx-datatable-column>
      <ngx-datatable-column name="Nom" prop="lastName" [flexGrow]="3">
      </ngx-datatable-column>
      <ngx-datatable-column name="Email/login" prop="mail" [flexGrow]="5">
      </ngx-datatable-column>
      <ngx-datatable-column name="Département" prop="departement" [comparator]="compareDepartement" [flexGrow]="2">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value.code }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Roles" prop="roles" [sortable]="false" [flexGrow]="2">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span *ngFor="let role of value; last as isLast">{{ role | translateRole }}{{ isLast ? '' : ','}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Activation" prop="enabled" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span *ngIf="value">Activé</span>
          <span *ngIf="!value">Désactivé</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<app-confirm-modal [(isOpen)]="editUserModalIsOpen" (accept)="updateUser(editUserForm.value)" [autoClose]="false"
                   (cancel)="cancelUpdateUser()" class="editDialog">
  <div title>Edition de l'utilisateur</div>
  <div content>
    <form class="form-inline" [formGroup]="editUserForm" *ngIf="editUserForm">
      <ul class="h-bottom inputs">
        <li>
          <app-input [for]="'firstName'" [label]="'Prénom'" [required]="true">
            <input name="firstName" type="text" autocomplete="false" placeholder="Prénom" formControlName="firstName"
                   maxlength="512">
          </app-input>
        </li>
        <li>
          <app-input [for]="'lastName'" [label]="'Nom'" [required]="true">
            <input name="lastName" type="text" autocomplete="false" placeholder="Nom" formControlName="lastName"
                   maxlength="512">
          </app-input>
        </li>
        <li>
          <app-input [for]="'mail'" [label]="'Email/Login'" [required]="true">
            <input name="mail" type="mail" autocomplete="false" placeholder="Email/Login" formControlName="mail"
                   maxlength="512">
          </app-input>
        </li>
        <li>
          <app-input [for]="'departement'" [label]="'Département'" [required]="true" class="select-container">
            <div class="select-box">
              <select class="select" name="departement" formControlName="departement"
                      [compareWith]="compareDepEquality">
                <option *ngFor="let departement of availableDepartement" [ngValue]="departement">
                  {{ departement.code }}
                </option>
              </select>
            </div>
          </app-input>
        </li>
        <li>
          <app-input [label]="'Rôles'" [required]="true">
            <ul id="details" class="roles">
              <li formArrayName="roles" *ngFor="let role of roles; let index = index;">
                <app-checkbox [id]="'role-id'+role.id" formControlName="{{index}}" [label]="role | translateRole"
                              [valueSelected]="role">
                </app-checkbox>
              </li>
            </ul>
          </app-input>
        </li>
        <li *ngIf="!editUserForm.value.id">
          <app-input [for]="'pwd'" [label]="'Mot de passe'" [required]="true">
            <input name="pwd" type="text" autocomplete="false" placeholder="Mot de passe" formControlName="pwd"
                   maxlength="255">
          </app-input>
        </li>
      </ul>
    </form>
  </div>
</app-confirm-modal>
<app-confirm-modal [(isOpen)]="editPwdModalIsOpen" (accept)="updatePwd(editPwdForm.value)" [autoClose]="false"
                   (cancel)="closeEditPwdModal()" class="editDialog">
  <div title>Modifier le mot de passe de l'utilisateur {{ editPwdForm.value.mail }}</div>
  <div content>
    <form class="form-inline" [formGroup]="editPwdForm">
      <ul>
        <li>
          <app-input [for]="'pwd'" [label]="'Mot de passe'" [required]="true">
            <input name="pwd" type="text" autocomplete="false" placeholder="Mot de passe" formControlName="pwd"
                   maxlength="255">
          </app-input>
        </li>
      </ul>
    </form>
  </div>
</app-confirm-modal>
<app-confirm-modal [(isOpen)]="deleteModalIsOpen" (accept)="deleteUser(selectedUser)">
  <div title>Suppression du compte {{ selectedUser?.mail }}</div>
  <div content>Confirmez-vous la suppression ?</div>
</app-confirm-modal>
