@import "src/assets/scss/theme";

.userboard {
  height: 100%;
  margin: 0 1em;


  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__datatable {
    height: calc(100% - 10em);

    .action-menu-wrapper {
      padding-bottom: 1em;
    }

    .table-wrapper {
      height: calc(100% - 16.875em);
      .action-menu-wrapper {
        margin-bottom: 10px;
        text-align: right;
      }
      input {
        width: 100%;
      }
      button {
        height: inherit;
        padding: inherit;
      }
    }
  }
}

.editDialog {
  form {
    background-color: white;
    padding: 1em 1em 0em 1em;
    border: solid 1px #D2DDE4;
    border-radius: 3px;
    text-align: left;
    .roles {
      li {
        width: 50%;
      }
    }
    li {
      input {
        border: 0;
        border-bottom: 1px solid #E3E3E3;
        font-weight: 700;
        width: 100%;
      }
      margin-bottom: 1em;
    }
  }
}


#user-table {
  border-collapse: collapse;
  width: 100%;
}

#user-table td, #user-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#user-table tr:nth-child(even){background-color: #f2f2f2;}

#user-table tr:hover {background-color: #ddd;}

#user-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary-color;
  color: white;
}

.form-inline span{
      display: inline-block;
      margin: 0 2px 0 2px;
}

.form-inline label{
    display: block;
}





