@import "src/assets/scss/theme";

.app-tab {
    padding: 5px;
    border-bottom: solid 1px $secondary-color;
    border-left: solid 1px $secondary-color;
    border-right: solid 1px $secondary-color;
    border-top: none;
}
