<div class="comfluence-page history-component-container">
  <div class="history-hide-scrollbar">
    <div class="history-control-header">
      <div *ngIf="nextControls?.length > 0; else noControl">
        <button class="btn btn-secondary btn-planify" (click)="showModal()">Planifier un contrôle</button>
        <ng-container *ngIf="nextControls.length === 1; else planifiedControls">
          <div>
            <div class="history-map-container">
              <app-osm [control]="this.nextControls[0]"></app-osm>
            </div>
            <div class="next-planified-control-date-container">
            <span class="next-planified-control-date">
              Prochain contrôle terrain : {{ this.nextControls[0].controlDate | appDate }}
            </span>
            </div>
            <div class="btn-group next-planified-control-date-actions">
              <button type="button" class="btn btn-danger-secondary" (click)="showWarningPopin(this.nextControls[0].id)">Annuler le contrôle</button>
              <button type="submit" class="btn btn-primary" (click)="showModal(this.nextControls[0])">Modifier le contrôle</button>
            </div>
            <app-confirm-modal [(isOpen)]="cancelPlanifiedControlModalVisible" (accept)="cancelControl(this.nextControls[0])" class="small warning"
                               [cancelLabel]="'Retour'">
              <div title>Attention</div>
              <div content>Souhaitez-vous annuler le contrôle planifié pour le
                {{ this.nextControls[0].controlDate | appDate }} ?
              </div>
            </app-confirm-modal>
          </div>
        </ng-container>
        <ng-template #planifiedControls>
          <div class="align-container-position">
            <h2>Mes contrôles planifiés</h2>
          </div>
          <ng-container *ngFor="let control of this.nextControls">
            <app-control [control]="control" [controlled]="false"
                         (click)="selectedControl = control" [showDetailContent]="true">
              <div *ngIf="selectedControl === control">
                <div class="history-map-container">
                  <app-osm [control]="control"></app-osm>
                </div>
                <div class="next-planified-control-date-container">
                </div>
                <div class="btn-group next-planified-control-date-actions">
                  <button type="button" class="btn btn-danger-secondary" (click)="showWarningPopin(control.id)">Annuler le contrôle</button>
                  <button type="submit" class="btn btn-primary" (click)="showModal(control)">Modifier le contrôle</button>
                </div>
                <app-confirm-modal [(isOpen)]="cancelPlanifiedControlModalVisible" (accept)="cancelControl(control)" class="small warning"
                                   [cancelLabel]="'Retour'">
                  <div title>Attention</div>
                  <div content>Souhaitez-vous annuler le contrôle planifié pour le {{ control.controlDate |
                      appDate }} ?</div>
                </app-confirm-modal>
              </div>
            </app-control>
          </ng-container>
        </ng-template>
      </div>
      <ng-template #noControl>
        <div class="no-control-planified-container">
          <span class="no-control-planified-message">Vous n'avez aucun contrôle terrain de planifié.</span>
          <button class="btn btn-secondary btn-planify" (click)="showModal()">Planifier un contrôle</button>
        </div>
      </ng-template>
    </div>
    <div class="control-history">
      <div class="align-container-position control-history__header">
        <span class="history-title">Historique</span>
        <span class="checkbox-all-controller" *ngIf="historyControls?.length > 0">
          <app-checkbox [(ngModel)]="allControllers" (ngModelChange)="toggleSeeFromAllControllers()"
                        [labelStyle]="'medium'" [inputStyle]="'round'" [label]="'Tous les inspecteurs'"></app-checkbox>
        </span>
      </div>
      <div *ngIf="visibleControls?.length > 0; else noHistoryControl">
        <ng-container *ngFor="let control of visibleControls">
          <app-control [control]="control" (controlClick)="chooseControl($event)" [controlled]="true"></app-control>
        </ng-container>
        <button class="btn btn-primary btn-show-more" (click)="showMoreHistories()" *ngIf="showMoreButtonVisible">
          Afficher tout
        </button>
      </div>
      <ng-template #noHistoryControl>
        <div class="align-container-position">
          Aucun historique de contrôle terrain.
        </div>
      </ng-template>
    </div>
  </div>
</div>
<app-modal [(visible)]="modalIsOpen" *ngIf="modalIsOpen">
  <app-next-control-modal (isOpen)="closeModal()" [control]="selectedControl" (savedControl)="addOrUpdateNextControls($event)"></app-next-control-modal>
</app-modal>
