@import "src/assets/scss/theme";

.history-component-container {
  overflow: auto;
  margin-bottom: 2em;
  height: 100%;

  .history-hide-scrollbar {
    max-width: 50em;
    margin: auto;

    .btn-show-more, .btn-planify {
      margin: 1.5em auto 0 auto;
      min-width: 17em;
      display: block;
    }

    .history-control-header, .control-history {
      .align-container-position {
        margin: 1.5em 1% 0 calc(3em + 1%);
      }
    }

    .history-control-header {

      .history-map-container {
        height: 23.75em;
        margin-top: 1.5em;
      }

      .next-planified-control-date-container {
        margin: 1.5em 0;
        display: flex;

        .next-planified-control-date {
          background: #FFFFFF;
          border: 1px solid #D2DDE4;
          border-radius: 0.25em;
          padding: .25em .5em;
          margin: auto;
        }
      }

      .next-planified-control-date-actions {
        width: 60%;
        margin: auto;
      }

      .no-control-planified-container {
        display: flex;
        flex-direction: column;

        &::before {
          content: "";
          width: 5em;
          height: 5em;
          display: block;
          background: url('#{$IMAGE_PATH}/icn_history.svg') no-repeat center;
          background-size: contain;
          opacity: 0.4763;
          margin: auto;
        }

        .no-control-planified-message {
          margin: auto;
          font-weight: $medium;
        }
      }
    }

    .control-history {
      margin: 2em auto;

      .align-container-position {

        .checkbox-all-controller {
          margin: auto 0;
          font-weight: $bold;
        }
      }

      .control-history__header {
        display: flex;
        justify-content: space-between;

        .history-title {
          font-weight: $bold;
          font-size: 25px;
        }
      }
    }
  }
}
