<div class="address-photos-container">
  <div class="image-container">
    <div (click)="previewPhoto()" title="Afficher la photo" class="image-fix-height">
      <app-image [id]="photos && photos.length > 0 ? photos[0].id : undefined" [downloadFull]="false"></app-image>
    </div>
    <span class="button button-previous-photo" (click)="previousPhoto()"></span>
    <span class="button button-next-photo" (click)="nextPhoto()"></span>
  </div>
  <div class="address-title">
    <span class="identifier">{{(item.reference ? item.reference: 'XXX')}}</span>
    <app-date [displayedDate]="item.operationDate" [status]="item.status" [type]="item.type" class="encart-date">
    </app-date>
  </div>
  <p>
    <span *ngIf="item.address.number || item.address.street">
      {{(item.address.number?item.address.number:'') + ' ' + (item.address.street?item.address.street:'')}}
      <br />
    </span>

    {{(item.address.code?item.address.code:'') + ' ' + (item.address.city?item.address.city:'')}}
  </p>
  <app-modal [(visible)]="modalIsOpen" *ngIf="modalIsOpen" class="modal-wrapper">
    <div class="modal-image-top">
      <p [class]="item.type">{{(item.reference? item.reference : 'XXX')}} | {{ item.operationDate | date: 'dd.MM.yyyy' }}
      </p>
      <span (click)="modalIsOpen = false" class="btn btn-close-photo"></span>
    </div>
    <div class="modal-image-wrapper">
    <span class="thumb-container">
      <app-image [id]="photos && photos.length > 0 ? photos[0].id : undefined"></app-image>

      <span class="button button-previous-photo" (click)="previousPhoto()"></span>
      <span class="button button-next-photo" (click)="nextPhoto()"></span>
    </span>
    </div>
  </app-modal>
</div>
