/* Import theme */
@import "src/assets/scss/theme";

.chips-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .chip {
        color: #FFF;
        cursor: pointer;
        margin: 0 .25em;
        border-radius: 3px;
        white-space: nowrap;
        pointer-events: all;
        padding: 0 1em 0 2em;
        background-color: $secondary-color;
        box-shadow: 0 4px 8px 0 rgba(61, 61, 61, 0.26);
        &.hide {
            display: none;
        }
        &.more {
            padding: 0 .5em;
            &:hover #hidden-filters-tooltip {
                opacity: 1;
            }
            #hidden-filters-tooltip {
                right: 0;
                opacity: 0;
                top: 1.875em;
                padding: 0 .5em;
                cursor: default;
                text-align: right;
                border-radius: 3px;
                position: absolute;
                pointer-events: none;
                transition: opacity .25s ease-out;
                background: rgba(0, 0, 0, .75);
                &::before {
                    width: 0;
                    height: 0;
                    right: .5em;
                    content: '';
                    top: -0.3125em;
                    position: absolute;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid rgba(0, 0, 0, .75);
                }
            }
        }
        &:not(.more)::before {
            top: -1px;
            width: 1em;
            left: .5em;
            height: 1em;
            content: '+';
            font-size: 1.5em;
            position: absolute;
            display: inline-block;
            vertical-align: middle;
            transform: rotate(45deg);
        }
    }
}
