/* Import theme */
@import "src/assets/scss/theme";

.item-encart-date {
  line-height: 1.25;
  color: #FFF;
  padding: 0.15em 0.5em;
  border-radius: 50px;
  font-size: 0.8em;

  &.item-comply {
    background-color: #417505;
  }
  &.item-non-compliant {
    background-color: $tertiary-color;
  }
  &.item-undefined {
    background-color: #12529C;
  }
  &.item-type{
    &:after {
      content: "e";
      color: transparent;
      width: 1.5em;
      height: 1.5em;
      background-position: center;
      background-repeat: no-repeat;
      padding-left: 1em;
    }

    &.ad:after {
      background-image: url('#{$IMAGE_PATH}/icn_type_ad_white.svg');
    }
    &.signboard:after {
      background-image: url('#{$IMAGE_PATH}/icn_type_signboard_white.svg');
    }
    &.presignboard:after {
      background-image: url('#{$IMAGE_PATH}/icn_type_presignboard_white.svg');
    }
  }
}
