/* Import theme */
@import "src/assets/scss/theme";

#new-device-form {
  h3::after {
    left: 0;
    right: 0;
    height: 1px;
    content: '';
    margin: auto;
    bottom: -.5em;
    width: 8.375em;
    position: absolute;
    border-radius: 2px;
    background-color: $secondary-color;
  }
  .research-container {
    text-align: center;
    display: block;
    margin: auto;
    width: 90%;

    .input-research {
      text-align: left;
      width: 100%;
      margin: 1em 0;
      min-height: 2.5em;
      border-radius: 3px;
      background-color: #FFFFFF;
      border: 1px solid $background-color;
      padding: 0 0.67em;

      .input-result {

        &:before {
          content: '';
          width: 3.5em;
          height: 2.5em;
          background: url("#{$IMAGE_PATH}/icn_search.svg") no-repeat center;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  .tag-container {
    margin: auto;
    width: 90%;

    .tag-group {
      display: flex;
      flex-direction: row;

      &:last-child {
        flex: 1;
      }

      .tag-element {
        padding: 0.67em 1em;
        font-weight: $medium;
        cursor: pointer;
        border-bottom: 1px $background-color solid;
        width:100%;

        &.selected {
          color: $secondary-color;

          &:after {
            left: 1.2em;
            width: 3em;
            content: '';
            height: 3px;
            margin: auto;
            bottom: 0;
            position: absolute;
            border-radius: 25%;
            background-color: $secondary-color;
          }
        }
      }
    }

    .cloud-tags {
      width: 100%;
      min-height: 12em;
      margin: 1em 0;
      border-radius: 3px;
      background-color: #FFFFFF;
      border: 1px solid $background-color;
      padding: 0.67em 1em;

      .tag {

        &.selected {
          color: $primary-color;
          opacity: 0.7;
          cursor: auto;
          background-color: $background-color;
        }
      }
    }
  }
  .input-research {
    .tag {
      color: #FFF;
      background-color: $secondary-color;
      border-radius: 3px;
      padding: 0.15em 1em;

      &:before {
        content: '+';
        transform: rotate(45deg);
        display: inline-block;
        font-size: 1.5em;
        vertical-align: middle;
        width: 1em;
        height: 1.4em;
      }
    }
  }

  .tag-container, .input-research {
    .tag {
      color: #FFF;
      background-color: $secondary-color;
      border-radius: 3px;
      padding: 0.15em 1em;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-right: 1em;
      }
    }
  }
}
