@import "src/assets/scss/theme";

:host {
  border-radius: 3px;
  border: 1px solid $background-color;
  display: block;
  height: 3em;
  width: 100%;

  &.ng-invalid.ng-touched {
    border: 1px solid $tertiary-color;
  }
}
