<div (focusout)="onTouched()">
  <ng-autocomplete [data]="data"
                   [initialValue]="group.value"
                   [searchKeyword]="searchOnField"
                   [itemTemplate]="itemTemplate"
                   (selected)="selectEvent($event)"
                   (inputCleared)="onChangeSearch(null)"
                   (inputChanged)="onChangeSearch($event)">
  </ng-autocomplete>
  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>
</div>
